<article class="seguro-scooter-bg">
  <div class="seguro-scooter container">
    <div class="seguro-scooter-imagem">
      <img [src]="seguroScooter.imgSrc" [alt]="seguroScooter.altSrc">
    </div>
    <div class="seguro-scooter-conteudo">
      <h2 class="font-1-xxl cor-0">{{seguroScooter.title}}<span class="cor-p1"> seguro.</span></h2>
      <p class="font-2-l cor-5">{{seguroScooter.description}}</p>
      <a class="botao" routerLink="/insurance">{{seguroScooter.button}}</a>
    </div>
  </div>
</article>
