<main class="login-body">
  <div class="login-container">
    <div class="login-img">
      <h1>Scokcraft</h1>
    </div>
    <div class="login-form">
      <h1>Login</h1>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <a href="./" class="login-a">Esqueceu a senha ?</a>

        <button type="submit" class="login-button">Login</button>
      </form>
      <div class="login-icons">
        <img src="../../../assets/img/icones/google.svg" alt="">
        <img src="../../../assets/img/icones/apple.svg" alt="">
        <img src="../../../assets/img/icones/facebook.svg" alt="">
    </div>
      <h2>Não tem uma conta ?<span>Crie AQUI.</span></h2>
    </div>
  </div>
</main>
